<header class="site-header">
    <a class="brand" href="">
        <img class="brand-mark" src="assets/images/StarforgedAtlasLogo.png" alt="" aria-hidden="true" />
        <span>Starforged Atlas</span>
    </a>

    <nav class="site-nav" aria-label="Primary">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="sector-explorer">Sector Explorer</NavLink>
        <NavLink class="nav-link" href="party-manager">Party Manager</NavLink>
        <NavLink class="nav-link" href="generators">Generators</NavLink>
        <NavLink class="nav-link" href="import">Import</NavLink>
        <NavLink class="nav-link" href="about">About</NavLink>
    </nav>
</header>
